.about_corona {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 700;
  background: #fff1b0;
}

.about_corona h3 {
  color: #fa7c01;
  font-weight: bold;
  margin-bottom: 15px;
}

.prevention h3 {
  color: #5e8e12;
}
