<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      COVID 19
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated placeholder="Country" value="" debounce="500"></ion-searchbar>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title class="ion-text-center">{{data?.location}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
   
  
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col size="6" class="ion-text-center">
            <h2>{{data?.confirmed}}</h2>
            <p>Confirmed</p>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <h2>{{data?.deaths}}</h2>
            <p>Deaths</p>
          </ion-col>
          <ion-col size="12" class="ion-text-center">
            <h2>{{data?.recovered}}</h2>
            <p>Recovered</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>