.profile-img {
    border-radius: 50%;
    width: 170px;
    margin-top: 15px;
}

.profile-name {
    font-size: 26px;
    color: #808080;
    font-weight: bold;
}

.profile-desc {
    font-size: 16px;
    color: #888888;
    font-weight: bold;
}

.custom-card {
    margin-top: 40px;
}

.tech-section {
    margin-bottom: 20px;
}

.tech-section h1{
    font-size: 20px;
    font-weight: bold;
    color: #808080;
    margin-bottom: 15px;
}

.custom-card-content {
    background-color: #f7effc;
    // color: white;
}