.dashboard-content {
    // background: #348F50;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to bottom, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background: #e63434;
    background-color: #f8f0fd;
  padding-bottom: 70px;
  margin-top: 56px;
//   background: url('../../assets/Corono_images/img7.png');
}

.custom-card-content {
    // background: #ECE9E6;
    // background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);
    // background: linear-gradient(to top, #FFFFFF, #ECE9E6);
    // background-color: #f7effc;
    background-color: #8EC5FC;
background-image: linear-gradient(180deg, #8EC5FC 0%, #E0C3FC 100%);

  color: white;
}

.custom-card-title {
    font-size: 25px !important;
    color: #0177ff;
    font-weight: bold;
    margin-bottom: 20px;
}

.data-text {
    font-size: 20px;
    font-weight: bold;
    color: #241f62;
}


.custom-button button{
    background-color: #329fa0 !important;
    color: white;
}

p.data-title {
    color: #868686;
}